<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="pc_gamer.image" [alt]="pc_gamer.name"></td>
            <td>{{pc_gamer.name}}</td>
            <td>{{pc_gamer.type}}</td>
            <td>{{pc_gamer.price}}</td>
            <td>{{pc_gamer.stock}}</td>
        </tr>
        <tr>
            <td>Hollywood</td>
            <td>Diseño</td>
            <td>700000</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Obra maestra</td>
            <td>Edición</td>
            <td>950000</td>
            <td>2</td>
        </tr>
    </tbody>
</table>
