<h2>Lista de computadoras</h2>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Pc of Pcs" [ngClass]="{'oferta': Pc.oferta}">
            <td><img [src]="Pc.image" [alt]="Pc.name"></td>
            <td>{{Pc.name}}</td>
            <td>{{Pc.type}}</td>
            <td>{{Pc.price|currency}}</td>
            <td><span *ngIf="Pc.stock==0" class="badge text-bg-danger">Sin Stock</span></td>
            <td>
                <app-input-integer [Pc]="Pc" *ngIf="Pc.stock>0"></app-input-integer>
            </td>
        </tr>
    </tbody>
</table>
