<h2>Lista de computadoras</h2>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Pc of Pcs" [ngClass]="{'oferta': Pc.oferta}">
            <td><img [src]="Pc.image" [alt]="Pc.name"></td>
            <td>{{Pc.name}}</td>
            <td>{{Pc.type}}</td>
            <td>{{Pc.price|currency}}</td>
            <td><span *ngIf="Pc.stock==0" class="badge text-bg-danger">Sin Stock</span></td>
            <td>
                <div class="input-group input-group-sm mb-3" *ngIf="Pc.stock>0">
                    <button class="btn" (click)="downQuantity(Pc)">-</button>
                    <input class="form-control" type="text" [(ngModel)]="Pc.quantity">
                    <button class="btn" (click)="upQuantity(Pc)">+</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
